DASHBOARD_PORT=5000
API_PORT=5050

OLLAMA_CHAT_MODEL=llama3.2
OLLAMA_VISION_MODEL=llava
OLLAMA_CONTEXT_LENGTH=131072
OLLAMA_FLASH_ATTENTION=1
OLLAMA_KV_CACHE_TYPE=q8_0

WHISPERX_MODEL=large-v2
WHISPERX_LANGUAGE=fr
WHISPERX_DEVICE=cpu
WHISPERX_COMPUTE_TYPE=int8
HF_TOKEN=
